.icon{
    margin-right: 10px;
    font-size: 25px;
    color: white;
}
ion-toolbar{
    --background: rgb(50, 150, 153);
}
.div{
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 60px;
}
p{
    font-size: smaller;
}
ion-textarea{
    height: 150px;
    background: lightgray;
}
ion-item{
    margin-left: 35px;
    margin-right: 35px;
}
.btn{
    --background: rgb(50, 150, 153);
    margin-left: 35px;
    margin-right: 35px;
}