<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="options-outline" color="light"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="light">New Request</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="notifications" class="icon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h4>Personal Details</h4>
  <ion-row>
    <ion-col size="4">
      <img src="assets/icon/pr1.jpg" class="img">
    </ion-col>
    <ion-col size="8">
      <p>Worker Full Name</p>
      <ion-row>
        <ion-col size="1" style="padding: 0;text-align: end;">
          <ion-icon name="call" class="icon1"></ion-icon>
        </ion-col>
        <ion-col size="5" style="padding: 0;">
          <ion-label>9876543210</ion-label>
        </ion-col>
        <ion-col size="1" style="padding: 0;text-align: end;">
          <ion-icon name="mail" class="icon1"></ion-icon>
        </ion-col>
        <ion-col size="5" style="padding: 0%;">
          <ion-label>xyz@gmail.com</ion-label>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="location" class="icon1"></ion-icon>
        </ion-col>
        <ion-col size="11">
          <ion-label>405,green Park Colony Dhar Road Indore</ion-label>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <hr>
  <h4>Aadhar Card Details</h4>
  <ion-row>
    <ion-col size="2" style="text-align: end;">
      <ion-icon name="person"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <p class="p1">Aadhar Card Full Name</p>
    </ion-col>
    <ion-col size="2" style="text-align: end;">
      <ion-icon name="card"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <p class="p1">Aadhar Card Number</p>
    </ion-col>
  </ion-row>

  <hr>
  <h4>Pan Card Details</h4>
  <ion-row>
    <ion-col size="2" style="text-align: end;">
      <ion-icon name="person"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <p class="p1">Pan Card Full Name</p>
    </ion-col>
    <ion-col size="2" style="text-align: end;">
      <ion-icon name="card"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <p class="p1">Pan Card Number</p>
    </ion-col>
  </ion-row>

  <hr>
  <h4>Bank Account Details</h4>
  <ion-row>
    <ion-col size="2" style="text-align: end;">
      <ion-icon name="person"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <p class="p1">Account Name</p>
    </ion-col>
    <ion-col size="2" style="text-align: end;">
      <ion-icon name="card"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <p class="p1">Bank Account Number</p>
    </ion-col>
    <ion-col size="2" style="text-align: end;">
      <ion-icon name="person"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <p class="p1">IFSC Code</p>
    </ion-col>
    <ion-col size="2" style="text-align: end;">
      <ion-icon name="card"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <p class="p1">Bank Name</p>
    </ion-col>

  </ion-row>
  <ion-button size="large" expand="block" class="btn">Add In Store</ion-button>
</ion-content>