.icon {
    font-size: 70px;
    color: rgb(50, 150, 153);
}

.div {
    text-align: center;
    padding-top: 40px;
}

h1 {
    margin-top: 10px;
    font-size: 23px;
    
    color: gray;
    font-weight: 600;
}

p {
    font-size: 15px;
    color: #393939;
    margin: 10px;
    padding: 20px 22px;
    line-height: 35px;
    

}

.ref{
    font-size: medium;
    background: #156D89;
    width: 90%;
    height: 65px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

ion-button{
    font-size: medium;
    margin-top: 40px;
    --background: #156D89;
    width: 90%;
    height: 65px;
    margin: 40px auto;
}

.alert {
    color: rgb(50, 150, 153);
}