<!-- <ion-header>
  <ion-toolbar>
    <ion-title>waiting-approval</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content (click)="presentAlert()">
    <img src="assets/icon/logo2.png">
    <div class="div">
        <img class="nam" src="assets/icon/nameste.png">
      <div style="text-align: center; 
      ">
        <p> Your registration request for True Homes Bandhan is
         successfully sent to Level 1 manager. And it may
         take 1-2 business days for verification.
        </p>
      </div>
  
      
    </div>
    <ion-footer>
    </ion-footer>
  </ion-content>
  
  <!-- <ion-footer class="ion-no-border">
      <ion-toolbar text-center no-border transparent>
          <button expand="block" size="large" slot="bottom" (click)="presentAlert()">Refresh</button>
      </ion-toolbar>
    </ion-footer> -->
  
    <ion-footer class="ion-no-border">
        <ion-toolbar>
          <div class="ref" (click)="Notification()">See Notification</div>
        </ion-toolbar>
      </ion-footer>
      