<!-- <ion-header>
  <ion-toolbar>
    <ion-title>waiting-approval</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <img src="assets/icon/logo2.png">
  <div class="div">
    <ion-icon name="checkmark-circle" class="icon"></ion-icon>
    <h1>Hurray!!</h1>
    <h1>Registration Done</h1>
    <div style="text-align: left;">
      <p> Your registration request for True Homes Bandhan is</p>
      <p> successfully sent to Level 1 manager. And it may</p>
      <p> take 1-2 business days for verification.</p>
      <p> Upon completion of verification, you</p>
      <p> shall receive a notification</p>
      <p> Thanks for waiting.</p>
    </div>

    <ion-button expand="block" size="large" slot="bottom" (click)="presentAlert()">Refresh</ion-button>
  </div>
</ion-content>