<!-- <ion-header>
  <ion-toolbar>
    <ion-title>waiting-approval</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <img src="assets/icon/logo2.png">
  <div class="div">
    <ion-icon name="checkmark-circle" class="icon"></ion-icon>
    <h1>Hurray!!</h1>
    <h1>Registration Done</h1>
    <div style="text-align: left; 
    margin-top: 35px;">
      <p> Your registration request for True Homes Bandhan is
       successfully sent to Level 1 manager. And it may
       take 1-2 business days for verification.
       Upon completion of verification, you    
       shall receive a notification
       Thanks for waiting.</p>
    </div>

    
  </div>
  <ion-footer>
  </ion-footer>
</ion-content>

<!-- <ion-footer class="ion-no-border">
    <ion-toolbar text-center no-border transparent>
        <button expand="block" size="large" slot="bottom" (click)="presentAlert()">Refresh</button>
    </ion-toolbar>
  </ion-footer> -->

  <ion-footer class="ion-no-border">
      <ion-toolbar>
        <div class="ref" (click)="presentAlert()">Refresh</div>
      </ion-toolbar>
    </ion-footer>
    