h3{
    margin-left: 15px;
}
.icon{
    font-size: 21px;
    color: black;
}
ion-item{
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    --highlight-color-focused:midnightblue;
    --border-color: black;
}
ion-button{
    margin-left: 15px;
    margin-right: 15px;
    font-size: medium;
    margin-top: 40px;
    --background: midnightblue;
}
.p{
    text-align: center;
    font-size: 12px;
    margin-top: 40px;
    color: black;
}
.img{
    height: 42px;
}
.col{
    text-align: center;
}
.la{
    color: midnightblue;
}