<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="options-outline" color="light"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="light">About Us</ion-title>
    <ion-buttons slot="end" (click)="onNotify()">
      <ion-icon name="notifications" class="icon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/icon/logo3.png" style="margin-top: 20px;">
  <div style="text-align: center;">
  <img src="assets/icon/logo.png" style="width: 135px;height: 35px;">
</div>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia ipsum doloremque voluptatibus ut! Dolores velit
    placeat dolorum doloribus. Rem, dolorem dicta! Atque odit obcaecati ad perferendis eveniet maiores similique ut!</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, ratione beatae nihil minima suscipit eos doloribus
    ex ipsa, modi in, unde voluptatem! Possimus reprehenderit, totam ratione sed necessitatibus aliquam nesciunt!</p>
</ion-content>