.icon{
    margin-right: 10px;
    font-size: 25px;
    color: white;
}
ion-toolbar{
    --background: rgb(50, 150, 153);
}
p{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
    color: gray;
}