
ion-item{
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;
    --highlight-color-focused:rgb(50, 150, 153);
    --border-color: black;
    --padding-start: 0px;
}
.icon{
    margin-right: 10px;
    font-size: 25px;
    color: white;
}
ion-toolbar{
    --background: rgb(50, 150, 153);
}
.icon1{
    color: black;
    font-size: 15px;
}
.upload-btn{
    margin-left: 15px;
    color: rgb(50, 150, 153);
    --border-color: rgb(50, 150, 153);
}
.btn{
--background: rgb(50, 150, 153);
color: white;
margin-top: 40px;
margin-left:15px;
margin-right: 15px;
}
p{
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
    margin-top: 20px;
}