.icon{
    margin-right: 10px;
    font-size: 25px;
    color: white;
}
ion-toolbar{
    --background: rgb(50, 150, 153);
}
h3{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
.view{
    margin-right: 15px;
    text-align: end;
}
p{
    margin-bottom: 0;
    margin-left: 20px;
    font-size: smaller;
    margin-right: 15px;
    font-weight: 600;
}
ion-button{
    --background: rgb(50, 150, 153);
}