.icon{
    margin-right: 10px;
    font-size: 25px;
    color: white;
}
ion-toolbar{
    --background: salmon;
}
ion-item{
    --border-style: none;
}
ion-button{
    --background: salmon;
}