<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><ion-icon name="options-outline" color="light"></ion-icon></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="light">Notification</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="notifications" class="icon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
<ion-item>
  <p>New Request(Worker Name)</p>
  <ion-button slot="end" size="small" (click)="onView()">View Details</ion-button>
</ion-item>
</ion-content>
