<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon name="options-outline" ></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center" >Product Catalog</ion-title>
      <ion-buttons slot="end" (click)="onNotify()">
        <ion-icon name="notifications" class="icon"></ion-icon>
      </ion-buttons> 
    </ion-toolbar>
  </ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
          <ion-select placeholder="Select Company">
              <ion-select-option value="f">Tata</ion-select-option>
              <ion-select-option value="m">Birla</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col size="6">
          <ion-searchbar mode="ios"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <img class="productImg" src="assets/icon/product1.png">
      </ion-col>
      <ion-col size="6">
          <h2 class="proName">Product Name</h2>
          <p class="code">Prpduct code : #20102</p>
      </ion-col>
      <ion-col size="3">
        <p class="date">12 March 2020</p>
      </ion-col>
      <ion-col size="3">
          <img class="productImg" src="assets/icon/product2.png">
        </ion-col>
        <ion-col size="6">
            <h2 class="proName">Product Name</h2>
            <p class="code">Prpduct code : #20102</p>
        </ion-col>
        <ion-col size="3">
          <p class="date">12 March 2020</p>
        </ion-col>
        <ion-col size="3">
            <img class="productImg" src="assets/icon/product1.png">
          </ion-col>
          <ion-col size="6">
              <h2 class="proName">Product Name</h2>
              <p class="code">Prpduct code : #20102</p>
          </ion-col>
          <ion-col size="3">
            <p class="date">12 March 2020</p>
          </ion-col>
          <ion-col size="3">
              <img class="productImg" src="assets/icon/product2.png">
            </ion-col>
            <ion-col size="6">
                <h2 class="proName">Product Name</h2>
                <p class="code">Prpduct code : #20102</p>
            </ion-col>
            <ion-col size="3">
              <p class="date">12 March 2020</p>
            </ion-col>
            <ion-col size="3">
                <img class="productImg" src="assets/icon/product1.png">
              </ion-col>
              <ion-col size="6">
                  <h2 class="proName">Product Name</h2>
                  <p class="code">Prpduct code : #20102</p>
              </ion-col>
              <ion-col size="3">
                <p class="date">12 March 2020</p>
              </ion-col>
              <ion-col size="3">
                  <img class="productImg" src="assets/icon/product2.png">
                </ion-col>
                <ion-col size="6">
                    <h2 class="proName">Product Name</h2>
                    <p class="code">Prpduct code : #20102</p>
                </ion-col>
                <ion-col size="3">
                  <p class="date">12 March 2020</p>
                </ion-col>
                <ion-col size="3">
                    <img class="productImg" src="assets/icon/product1.png">
                  </ion-col>
                  <ion-col size="6">
                      <h2 class="proName">Product Name</h2>
                      <p class="code">Prpduct code : #20102</p>
                  </ion-col>
                  <ion-col size="3">
                    <p class="date">12 March 2020</p>
                  </ion-col>
                  <ion-col size="3">
                      <img class="productImg" src="assets/icon/product2.png">
                    </ion-col>
                    <ion-col size="6">
                        <h2 class="proName">Product Name</h2>
                        <p class="code">Prpduct code : #20102</p>
                    </ion-col>
                    <ion-col size="3">
                      <p class="date">12 March 2020</p>
                    </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
